* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/bg-main-mobile.png");
  background-repeat: no-repeat;
}

h1 {
  font-weight: bold;
  letter-spacing: -1px;
}

p {
  line-height: 26px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #191826;
}

h1,
h2,
p,
.btn {
  font-family: "IBM Plex Sans", sans-serif;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.btn--iOS {
  background-color: #191826;
  color: #FCFAF9;
}
.btn__company-logo {
  margin-right: 0.5rem;
}

.bg-patter {
  display: none;
}

.logo {
  padding: 1.5rem;
}

.header {
  margin-bottom: 8rem;
  padding: 1.5rem;
}
.header__title {
  margin-bottom: 1rem;
}

.main-container {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-image: url("assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #191826;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
.main__img-container {
  margin-bottom: 2rem;
  width: 75%;
}
.main__app-img {
  width: 100%;
  margin-top: -5rem;
}
.main__offer {
  padding: 1.75rem;
  border-radius: 1rem;
  background-color: #FA7453;
  color: #FCFAF9;
}
.main__title {
  margin-bottom: 0.75rem;
}
.main__description {
  margin-bottom: 1rem;
}
.main__subscription-cost {
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.main__subscription-price {
  padding-right: 0.75rem;
  font-size: 2.5rem;
  font-weight: 700;
  vertical-align: middle;
}
.main__download-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom-logo {
  padding: 1.5rem;
}

.footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .main__img-container {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin: 1.5rem;
  }
  .bg-patter {
    display: block;
    position: absolute;
    z-index: -1;
    top: -5%;
    right: -5%;
  }
  .logo {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .header {
    max-width: 500px;
  }
  .header__title {
    font-size: 3rem;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main__img-container {
    max-width: 300px;
  }
  .main__app-img {
    position: relative;
    left: 75px;
  }
  .main__offer {
    max-width: 350px;
    position: relative;
    right: 75px;
    top: 125px;
    z-index: 1;
  }
  .footer {
    justify-content: space-between;
    flex-direction: row;
  }
  .footer__description {
    max-width: 300px;
  }
  .footer__social-media-container {
    align-self: center;
  }
}
@media screen and (min-width: 992px) {
  .main {
    max-width: 992px;
  }
}
@media screen and (min-width: 1200px) {
  .container--main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
